{% load static %}
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>Todo Application</title>
        <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>
    <div class="form-group">
      <h1>To-Do <small>List</small></h1>
      <form method="POST">
        {% csrf_token %}
        <label for="name">Task Content :</label>
        <input type="text" id="content" name="content" size="60">
        <input type="submit" value="Add Task">
      </form>
      
      <hr>
      {% for task in task_list %}
        {% if task.is_done %}
          <div class="task-done">
            {{ task.content }} <br>
          </div>
          <img src="{% static '/delete.gif' %}"> <a href=" {% url 'delete' task.id %}">Delete</a>
          <a href="{% url 'edit' task.id %}">Modify</a><br>
          <hr>
        {% else %}
          {{ task.content }} <br>
          <img src="{% static '/done.png' %}"> <a href="">Done</a>
          <img src="{% static '/delete.gif' %}"> <a href=" {% url 'delete' task.id %}">Delete</a>
          <a href="{% url 'edit' task.id %}">Modify</a><br>
          <hr>
        {% endif %}
      {% endfor %}

      <!-- des choses a ajouter ici -->

    </div>

    <div></div>

    <ul class="list-unstyled" id="todo">
      <!-- des choses a ajouter ici -->

    </ul>

</body>
</html>
